<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d8645da-177b-4942-9914-ceb28cef4df7" Alias="megaNavV8" Level="2">
  <Info>
    <Name>Navigation</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e4cd97c9-0c92-4acb-bd41-83e65d4ff53e</Key>
      <Name>Navigation</Name>
      <Alias>navigation</Alias>
      <Definition>fac7dd33-0c56-445a-90a9-6eb836deb709</Definition>
      <Type>AaronSadler.MegaNavV8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>