<?xml version="1.0" encoding="utf-8"?>
<Content Key="917b5c2b-ecb3-4f20-b5f6-52af4348a976" Alias="Main Navigation" Level="2">
  <Info>
    <Parent Key="078e2ed0-97f0-475a-8ee6-c97dec0a91c4">Navigations</Parent>
    <Path>/Navigations/MainNavigation</Path>
    <Trashed>false</Trashed>
    <ContentType>megaNavV8</ContentType>
    <CreateDate>2020-10-09T14:25:39</CreateDate>
    <NodeName Default="Main Navigation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <navigation>
      <Value><![CDATA[[
  {
    "id": 1074,
    "udi": "umb://document/c0f01c303d8d46be89e3e9b54ab6dc6d",
    "name": "Home",
    "url": "/home/",
    "children": [],
    "icon": "icon-home color-black",
    "published": true,
    "naviHide": false,
    "culture": "[object Object]"
  }
]]]></Value>
    </navigation>
  </Properties>
</Content>