<?xml version="1.0" encoding="utf-8"?>
<Content Key="078e2ed0-97f0-475a-8ee6-c97dec0a91c4" Alias="Navigations" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Navigations</Path>
    <Trashed>false</Trashed>
    <ContentType>navigations</ContentType>
    <CreateDate>2020-10-09T14:25:15</CreateDate>
    <NodeName Default="Navigations" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>