<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fac7dd33-0c56-445a-90a9-6eb836deb709" Alias="Navigation - Navigation - MeganavV8" Level="1">
  <Info>
    <Name>Navigation - Navigation - MeganavV8</Name>
    <EditorAlias>AaronSadler.MegaNavV8</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxDepth": 0,
  "RemoveNaviHideItems": true
}]]></Config>
</DataType>